.barra {

    .barra-navegacion {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
/*      display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 30px;
        margin-bottom: 30px; */
        position: relative;

        .barra-botones-selec {
            background: #2F80ED;
            border: 1px solid #2F80ED;
            box-sizing: border-box;
            border-radius: 4px;
            color:#FFFFFF;    
        }

        .barra-botones-click {
            border: 1px solid #2F80ED;
            box-sizing: border-box;
            border-radius: 4px;
            color: #2F80ED;
        }

    }

    .barra-hand {
        grid-column: 4/5;
        align-self: center;
        position: absolute;
        top: 15%;
        left: 15px;

        svg {
            width: 36.76px; 
            height: 54.19px;
        }
    }

    .barra-btn {
        width: 36px;
        height: 36px;
        border: 1px solid #4F4F4F;
        box-sizing: border-box;
        border-radius: 4px;    
        text-align: center;
        padding-top: 8px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;    
    }





}