@import "variables";

.gallery {
    .gallery-recipe img {
        width: 351px;
        height: 261px;
        border-radius: 12px;    
    }

    .gallery-technology {
        display: grid;
        grid-template-columns: 20% 20% 20%;
        margin-bottom: 30px;

        .gallery-technology-applied{
            width: 59px;
            height: 20px;
            font-family: $fuente1;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: #4F4F4F;
            justify-self: start;
        }
    }

    .gallery-description-tittle h2 {
        width: 128px;
        height: 29px;
        font-family: $fuente1;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        color: #333333;    
        
    }

    .gallery-description-end p{
        width: 351px;
        height: 80px;
        font-family: $fuente1;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #828282;  
        margin-top: 30px;  
        margin-bottom: 30px;
    }

    .buttons {

        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .buttons-demo {
            width: 135px;
            height: 46px;
            background: #2F80ED;
            border-radius: 12px;  
            display: grid; 
            grid-template-columns: 100%;
            grid-template-rows: 100%;

            h3 {
                width: 57px;
                height: 22px;
                font-family: $fuente1;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                color: #FFFFFF;
                justify-self: center;
                align-self: center;
            }
        }
    
        .buttons-code {
            width: 135px;
            height: 46px;
            border: 1px solid #2F80ED;
            box-sizing: border-box;
            border-radius: 12px;    
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 100%;

                h3{
                    width: 48px;
                    height: 22px;
                    font-family: $fuente1;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                    color: #2F80ED; 
                    justify-self: center;
                    align-self: center;   
                }
        }

    
    }
}