.hobbies {

    .hobbies-tittle {
        h2 {
            width: 240px;
            height: 29px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;      
            color: #4F4F4F;
        }
    }

    .hobbies-gaming-img {
        img {
            width: 280px;
            height: 139px;
            border-radius: 12px; 
            margin-top: 20px; 
            margin-bottom: 20px;
        }
    }

    .hobbies-gaming-description {
        h3 {
            width: 280px;
            height: 22px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #333333; 
            margin-bottom: 20px;   
        }

        p {
            width: 302px;;
            height: 20px;    
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: #828282;   
            margin-bottom: 20px;
        }
    }

}